<div class="content_between_md content_between_lg content_between_xl content_between_xxl room_sm">
    <div class="border border_radius col_13_sm col_6 div_hover margin_y_3_sm">
        <div class="display_flex align_center">
            <div class="col_3 content_center">
                <img alt="" [src]="imgAperturaAnterior" class="width_50">
            </div>
            <div class="col_10 text_center">
                <h3 class="font_size_h4 margin_y_1">Apertura Anterior</h3>
                <h3 class="font_size_h3 margin_y_1"><span>$</span>{{totalAperturaAnterior}}</h3>
            </div>
        </div>
    </div>
    <div class="border border_radius col_13_sm col_6 div_hover margin_y_3_sm">
        <div class="display_flex align_center">
            <div class="col_3 content_center">
                <img alt="" [src]="imgTotalVentas" class="width_50">
            </div>
            <div class="col_10 text_center">
                <h3 class="font_size_h4 margin_y_1">Total Ventas Dia Anterior</h3>
                <h3 class="font_size_h3 margin_y_1"><span>$</span>{{totalVentaDiaAnterior}}</h3>
            </div>
        </div>
    </div>
</div>