@import url(/src/styles.scss);

.bg_color{
    background-color: var(--color_pink);
}
.border{
    border-color: var(--color_gray_md) !important;
    border-radius: var(--border_radius_six);
}
.border_radius{
    border-radius: var(--border_radius_six);
}
.font_size_h3{
    text-indent: 3%;
    font-weight: var(--font_weight_400);
}
.font_size_h4{
    text-indent: 3%;
    font-weight: var(--font_weight_400);
}
.font_size_p{
    font-weight: var(--font_weight_400) !important;
}
.border_top{
    border-top: 1px solid;
    border-color: var(--color_gray_md);
}