@import url(/src/styles.scss);

.bg_color{
    background-color: var(--color_pink_md);
}
.bg_color_menu{
    background-color: var(--color_pink_cl);
}
.color{
    background-color: var(--color_black);
}
.font_size_a{
    font-size: var(--font_size_seven);
}


#contenido {
    display: none;
}
#contenido.active {
    display: flex;
    justify-content: space-around;
}