<div class="content_end padding_y_3 padding_x_3 col_10 bg_color">
    <div>
        <a (click)="mostrarMenu = !mostrarMenu" class="font_size_h3">
            <i class="fa-solid fa-bars fa-2xl"></i>
        </a>
    </div>
</div>
<div class="content_around bg_color_menu">
    <div class="width_100 margin_y_3" id="contenido" [ngClass]="{'active': mostrarMenu}">
        <div>
            <a href="" class="font_size_a">Caja</a>
        </div>
        <div>
            <a href="" class="font_size_a">Inventario</a>
        </div>
        <div>
            <a href="" class="font_size_a">Ventas</a>
        </div>
        <div>
            <a href="" class="font_size_a">Proveedores</a>
        </div>
    </div>
</div>