<div class="margin_y_3 room_sm">
    <div class="border border_radius">
        <div class="bg_color border_radius">
            <h4 class="room font_size_h5 padding_y_2 font_size_p_sm">INFORMACION DE LA EMPRESA</h4>
        </div>
        <div class="room">
            <div class="margin_y_2 font_size_p_sm">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, commodi exercitationem maiores eius incidunt amet nam nulla magni aperiam quod accusantium illum debitis expedita nisi. Mollitia provident tenetur fuga veniam!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, commodi exercitationem maiores eius incidunt amet nam nulla magni aperiam quod accusantium illum debitis expedita nisi. Mollitia provident tenetur fuga veniam!</p>
            </div>
        </div>
    </div>
</div>