<div class="margin_y_3">
    <div>
        <form>
            <input class="form-control border_radius text_indent padding_y_2" type="search" placeholder="Digita el producto a buscar" aria-label="Search">
        </form>
    </div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide margin_y_2">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="content_center">
                    <a href="">
                        <div class="text_center margin_y_1">
                            <img [src]="imgNoEncontrada" class="width_30 border_special" alt="">
                        </div>
                        <p class="text_center">Categoria 1</p>
                    </a>
                    <a href="">
                        <div class="text_center margin_y_1">
                            <img [src]="imgNoEncontrada" class="width_30 border_special" alt="">
                        </div>
                        <p class="text_center">Categoria 2</p>
                    </a>
                    <a href="">
                        <div class="text_center margin_y_1">
                            <img [src]="imgNoEncontrada" class="width_30 border_special" alt="">
                        </div>
                        <p class="text_center">Categoria 3</p>
                    </a>
                </div> 
              </div>
              <div class="carousel-item">
                <div class="content_center">
                    <a href="">
                        <div class="text_center margin_y_1">
                            <img [src]="imgNoEncontrada" class="width_30 border_special" alt="">
                        </div>
                        <p class="text_center">Categoria 4</p>
                    </a>
                    <a href="">
                        <div class="text_center margin_y_1">
                            <img [src]="imgNoEncontrada" class="width_30 border_special" alt="">
                        </div>
                        <p class="text_center">Categoria 5</p>
                    </a>
                    <a href="">
                        <div class="text_center margin_y_1">
                            <img [src]="imgNoEncontrada" class="width_30 border_special" alt="">
                        </div>
                        <p class="text_center">Categoria 6</p>
                    </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="content_center">
                    <a href="">
                        <div class="text_center margin_y_1">
                            <img [src]="imgNoEncontrada" class="width_30 border_special" alt="">
                        </div>
                        <p class="text_center">Categoria 7</p>
                    </a>
                    <a href="">
                        <div class="text_center margin_y_1">
                            <img [src]="imgNoEncontrada" class="width_30 border_special" alt="">
                        </div>
                        <p class="text_center">Categoria 8</p>
                    </a>
                    <a href="">
                        <div class="text_center margin_y_1">
                            <img [src]="imgNoEncontrada" class="width_30 border_special" alt="">
                        </div>
                        <p class="text_center">Categoria 9</p>
                    </a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
</div>
