<div class="max_height_100 display_grid padding_x_3">
    <div class="col_13 align_center content_center width_100">
        <div class="content_center">
           <img [src]="imagenLogin" alt="" class="width_60">                 
        </div>
    </div>
    <div class="col_13">
        <div class="margin_y_3">
            <div class="text_center">
                <h3 class="font_size_h3">Iniciar Sesión</h3>
            </div>
        </div>
        <form (ngSubmit)="login()" [formGroup] = "formularioLogin">
            <div class="form-floating mb-3 width_100">
                <input type="email" class="form-control input" placeholder="name@example.com" formControlName="email">
                <label for="email" class="font_size_label">Correo Electronico</label>
            </div>
            <div class="form-floating width_100">
                <input type="password" class="form-control input" placeholder="Password" aria-labelledby="passwordHelpInline" formControlName="password">
                <label for="password" class="font_size_label">Contraseña</label>
            </div>
            <div>
                <div class="margin_y_3 content_around">
                    <!--routerLink="" es la conexion entre paginas-->
                    <a href="" routerLink="/admin-page-principal"><p>¿Olvidaste tu clave?</p></a>
                    <!--(click)="navegarEntrePaginas()"-->
                    <a href=""><p>Crear una cuenta</p></a>
                </div>
                <div class="col_13">
                    <!--(click) es la action al realizar un click sobre un boton-->
                    <button type="submit" class="btn btn_primary width_100">Iniciar Sesión</button>
                </div>
            </div>
        </form>
    </div>
    <div class="height_100 content_center align_center">
        <p>¿Necesitas ayuda? Contacta con nuestro equipo de soporte <a href=""><span class="font_color">aquí</span></a></p>
    </div>
</div>