@import url(/src/styles.scss);

.bg_gray{
    background-color: #E7E5E5;
}
.vertical-line{
    border-left: 1px solid var(--color_gray_os);
    height: 100%;
}
.font_spam{
    color: var(--color_gray_os);
    font-size: var(--font_size_one);
    font-weight: 600;
}