<main class="display_flex">
    <app-section-navbar class="col_2_md col_2 display_none_sm bg_color"></app-section-navbar>
    <div class="col_11_md col_11 display_none_sm">
        <app-section-header></app-section-header>
        <app-section-one></app-section-one>
        <div class="room content_between_lg content_between_xl content_between_xxl">
            <div class="col_13_md col_8">
                <app-section-two></app-section-two>
                <app-section-three></app-section-three>
            </div>
            <div class="col_13_md col_4">
                <app-section-four></app-section-four>
            </div>
        </div>
    </div>
</main>
<main class="display_grid_sm">
    <app-mobile-section-navbar class="col_13_sm display_none_md display_none_lg display_none_xl display_none_xxl"></app-mobile-section-navbar>
    <app-section-one class="col_13_sm display_none_md display_none_lg display_none_xl display_none_xxl"></app-section-one>
    <app-section-two class="col_13_sm display_none_md display_none_lg display_none_xl display_none_xxl"></app-section-two>
    <app-section-three class="col_13_sm display_none_md display_none_lg display_none_xl display_none_xxl"></app-section-three>
    <app-section-four class="col_13_sm display_none_md display_none_lg display_none_xl display_none_xxl"></app-section-four>
</main>