<main class="display_flex">
    <app-section-navbar class="col_1_md col_1_lg col_1_xl col_1_xxl display_none_sm bg_color"></app-section-navbar>
    <div class="col_9_md col_9_lg col_9_xl col_9_xxl display_none_sm">
        <app-section-header></app-section-header>
        <app-section-one></app-section-one>
    </div>
</main>
<main class="display_grid_sm">
    <app-mobile-section-navbar class="max_width_100_sm max_width_100_md col_10_sm display_none_md display_none_lg display_none_xl display_none_xxl"></app-mobile-section-navbar>
    <app-section-one class="max_width_100_sm max_width_100_md col_10_sm display_none_md display_none_lg display_none_xl display_none_xxl"></app-section-one>
</main>