<main class="display_flex">
    <app-section-navbar class="col_2_md col_2_lg col_2_xl col_2_xxl display_none_sm bg_color"></app-section-navbar>
    <div class="col_11_md col_11_lg col_11_xl col_11_xxl display_none_sm">
        <app-section-header></app-section-header>
        <app-section-one></app-section-one>
        <div class="room display_grid">
            <app-section-two class="col_9"></app-section-two>
            <app-section-three class="col_9"></app-section-three>
        </div>
    </div>
</main>
<main class="display_grid_sm max_width_100_sm">
    <app-mobile-section-navbar class="col_13_sm display_none_md display_none_lg display_none_xl display_none_xxl"></app-mobile-section-navbar>
    <app-section-one class="col_13_sm display_none_md display_none_lg display_none_xl display_none_xxl"></app-section-one>
</main>