<div class="max_height_100 display_grid">
    <div class="align_center text_center">
        <a href="">
            <img [src]="imagenPrincipal" alt="" class="width_70">
        </a>
    </div>
    <ul class="text_center">
        <hr class="line_divider">
        <a href="" routerLink="caja-page-principal">
            <li>
                <img [src]="imagenCaja" alt="" class="width_30">
                <h6 class="margin_y_1 font_size_h5">Caja</h6>
            </li>
        </a>
        <hr class="line_divider">
        <a href="">
            <li>
                <img [src]="imagenInventario" alt="" class="width_30">
                <h6 class="margin_y_1 font_size_h5">Inventario</h6>  
            </li>
        </a>
        <hr class="line_divider">
        <a href="">    
            <li>
                <img [src]="imagenVentas" alt="" class="width_30">
                <h6 class="margin_y_1 font_size_h5">Ventas</h6> 
            </li>
        </a>
        <hr class="line_divider">
        <a href="">
            <li>
                <img [src]="imagenProveedores" alt="" class="width_30">
                <h6 class="margin_y_1 font_size_h5">Proveedores</h6>
            </li>
        </a>
    </ul>
</div>