<div class="max_height_100 display_grid">
    <div class="align_center text_center">
        <a href="">
            <img [src]="imagenPrincipal" alt="" class="width_80">
        </a>
    </div>
    <ul class="text_center">
        <hr class="line_divider">
        <li>
            <a href="">
                <img [src]="imagenCaja" alt="" class="width_50">
                <h6 class="margin_y_1 font_size_h5">Caja</h6>
            </a>
        </li>
        <hr class="line_divider">
        <li>
            <a href="">
                <img [src]="imagenInventario" alt="" class="width_50">
                <h6 class="margin_y_1 font_size_h5">Inventario</h6>
            </a>  
        </li>
        <hr class="line_divider">
        <li>
            <a href="">
                <img [src]="imagenVentas" alt="" class="width_50">
                <h6 class="margin_y_1 font_size_h5">Ventas</h6>
            </a>  
        </li>
        <hr class="line_divider">
        <li>
            <a href="">
                <img [src]="imagenProveedores" alt="" class="width_50">
                <h6 class="margin_y_1 font_size_h5">Proveedores</h6>
            </a>  
        </li>
    </ul>
</div>