<div class="room_sm margin_y_3">
    <div class="border">
        <div class="bg_color">
            <h3 class="padding_y_2 font_size_h4 font_indent font_size_p_sm">Información General</h3>
        </div>
    </div>
</div>

<div class="room_sm display_grid_sm display_grid_md display_flex_lg display_flex_xl display_flex_xxl content_between_lg content_between_xl content_between_xxl">
    <div class="border_div hover_div border_radius display_flex align_center col_13_sm col_13_md col_6 margin_y_1">
        <div class="col_5 col_4_sm padding_x_2 padding_y_2 text_center">
            <img [src]="imgVenta" alt="">
        </div>
        <div class="col_8 col_9_sm text_center">
            <p class="font_size_p_sm font_size_h4_md font_size_h4 bg_color_p">Ventas Total</p>
            <h3 class="font_size_h4 font_size_h4_sm font_size_h4_md"><span>$</span>{{ventasDelDia.valor}}</h3>
        </div>
    </div>
    <div class="border_div hover_div border_radius display_flex align_center col_13_sm col_13_md col_6 margin_y_1">
        <div class="col_5 col_4_sm padding_x_2 padding_y_2 text_center">
            <img [src]="imgFactura" alt="">
        </div>
        <div class="col_8 col_9_sm text_center">
            <p class="font_size_p_sm font_size_h4_md font_size_h4 bg_color_p">No. de Facturas</p>
            <h3 class="font_size_h4 font_size_h4_sm font_size_h4_md"><span>#</span>{{ventasDelDia.valor}}</h3>
        </div>
    </div>
</div>
<div class="room_sm display_grid_sm display_grid_md display_flex_lg display_flex_xl display_flex_xxl content_between_lg content_between_xl content_between_xxl">
    <div class="border_div hover_div border_radius display_flex align_center col_13_sm col_13_md col_6 margin_y_1">
        <div class="col_5 col_4_sm padding_x_2 padding_y_2 text_center">
            <img [src]="imgGastos" alt="">
        </div>
        <div class="col_8 col_9_sm text_center">
            <p class="font_size_p_sm font_size_h4_md font_size_h4 bg_color_p">Gastos Totales</p>
            <h3 class="font_size_h4 font_size_h4_sm font_size_h4_md"><span>$</span>{{ventasDelDia.valor}}</h3>
        </div>
    </div>
    <div class="border_div hover_div border_radius display_flex align_center col_13_sm col_13_md col_6 margin_y_1">
        <div class="col_5 col_4_sm padding_x_2 padding_y_2 text_center">
            <img [src]="imgUtilidad" alt="">
        </div>
        <div class="col_8 col_9_sm text_center">
            <p class="font_size_p_sm font_size_h4_md font_size_h4 bg_color_p">Utilidad Total</p>
            <h3 class="font_size_h4 font_size_h4_sm font_size_h4_md"><span>$</span>{{ventasDelDia.valor}}</h3>
        </div>
    </div>
</div>