@import url(/src/styles.scss);

.bg_color{
    background-color: var(--color_pink);
    border-color: var(--color_gray_cl) !important;
    border-radius: var(--border_radius_four);
}
.font_size_h4{
    font-weight: var(--font_weight_400);
}
.font_indent{
    text-indent: 3%;
}
.border{
    border-color: var(--color_gray_cl) !important;
    border-radius: var(--border_radius_four);
}
.border_div{
    border: 1px solid;
    border-radius: var(--border_radius_four);
    border-color: var(--color_gray_cl) !important;
}
.hover_div:hover{
    background-color: var(--color_white_cl);
    border-color: var(--color_gray_os) !important;
}
.hover_div:hover p{
    background-color: var(--color_white_cl);
    color: var(--color_black) !important;
}
.bg_color_p{
    color: var(--color_gray_cl);
}