@import url(/src/styles.scss);

.bg_color{
    background-color: var(--color_gray);
}
.lt_color{
    color: var(--color_gray_ml_lt);
}
.line{
    border-left: 1px solid var(--color_gray_ml_lt);
    height: 100%;
}