<main class="display_flex">
    <app-section-navbar class="col_2_md col_2 display_none_sm bg_color"></app-section-navbar>
    <div class="col_11_md col_11 display_none_sm">
        <div class="room">
            <div class="display_flex">
                <app-section-one class="col_8"></app-section-one>
            </div>
            <div>
                <!--Section three here-->
            </div>
        </div>
    </div>
</main>
<main class="display_grid_sm">
    <app-mobile-section-navbar class="col_13_sm display_none_md display_none_lg display_none_xl display_none_xxl"></app-mobile-section-navbar>
</main>