@import url(/src/styles.scss);

.btn_primary{
    background-color: var(--color_white);
    color: var(--color_black);
    text-indent: var(--calc_1vw);
}
.btn_primary:hover{
    background-color: var(--color_gray);
    color: var(--color_black);
}
.border_radius{
    border-radius: var(--border_radius_two);
}