@import url(/src/styles.scss);

.btn_primary{
    background-color: var(--color_white);
    color: var(--color_gray_cl);
    font-weight: var(--font_weight_400);
    font-size: var(--font_size_seven);
    text-indent: var(--calc_1vw);
}
.btn_primary:hover{
    background-color: var(--color_gray);
    font-size: var(--font_size_seven);
    color: var(--color_black);
    border-color: var(--color_gray_cl) !important;
}
.btn_primary:focus{
    background-color: var(--color_white);
    font-size: var(--font_size_seven);
    color: var(--color_black);
}
.border_radius{
    border-radius: var(--border_radius_two);
}
.bg_color{
    color: var(--color_gray_cl);
    font-weight: var(--font_weight_400);
}
.hover_div:hover{
    background-color: #fafafa;
    border-color: var(--color_gray_cl) !important;
}
.hover_div:hover p{
    color: var(--color_black);
}