<div class="room">
    <div class="display_flex margin_y_2">
        <div class="align_center col_5_sm col_5_md col_2">
            <h4 class="text_start font_size_h4 font_size_p_sm">Almacenes</h4>
        </div>
        <div class="dropdown col_8_sm col_8_md col_4">
            <button class="btn btn_primary border dropdown-toggle text_start width_100 height_100" type="button" 
            data-bs-toggle="dropdown" aria-expanded="false">
              General
            </button>
          </div>
    </div>
    <div class="display_grid_sm display_grid_md display_flex_lg display_flex_xl display_flex_xxl content_between_lg content_between_xl content_between_xxl margin_y_2">
        <div class="border border_radius display_flex align_center col_13_sm col_13_md col_3 margin_y_1 hover_div">
            <div class="col_5 col_4_sm padding_x_2 padding_y_2 text_center">
                <img [src]="imgVenta" alt="">
            </div>
            <div class="col_8 col_9_sm text_center">
                <p class="font_size_p_sm font_size_h4_md font_size_h5 bg_color">Ventas del dia</p>
                <h3 class="font_size_h4 font_size_h4_sm font_size_h4_md"><span>$</span>{{ventasDelDia.valor}}</h3>
            </div>
        </div>
        <div class="border border_radius display_flex align_center col_13_sm col_13_md col_3 margin_y_1 hover_div">
            <div class="col_5 col_4_sm padding_x_2 padding_y_2 text_center">
                <img [src]="imgFactura" alt="">
            </div>
            <div class="col_8 col_9_sm text_center">
                <p class="font_size_p_sm font_size_h4_md font_size_h5 bg_color">No. de Facturas</p>
                <h3 class="font_size_h4 font_size_h4_sm"><span>#</span>00</h3>
            </div>
        </div>
        <div class="border border_radius display_flex align_center col_13_sm col_13_md col_3 margin_y_1 hover_div">
            <div class="col_5 col_4_sm padding_x_2 padding_y_2 text_center">
                <img [src]="imgGastos" alt="">
            </div>
            <div class="col_8 col_9_sm text_center">
                <p class="font_size_p_sm font_size_h4_md font_size_h5 bg_color">Gastos del dia</p>
                <h3 class="font_size_h4 font_size_h4_sm"><span>$</span>0000</h3>
            </div>
        </div>
        <div class="border border_radius display_flex align_center col_13_sm col_13_md col_3 margin_y_1 hover_div">
            <div class="col_5 col_4_sm padding_x_2 padding_y_2 text_center">
                <img [src]="imgUtilidad" alt="">
            </div>
            <div class="col_8 col_9_sm text_center">
                <p class="font_size_p_sm font_size_h4_md font_size_h5 bg_color">Utilidad del dia</p>
                <h3 class="font_size_h4 font_size_h4_sm"><span>$</span>0000</h3>
            </div>
        </div>
    </div>
</div>