<div class="room_sm">
    <div class="border">
        <div class="bg_color">
            <h3 class="padding_y_2 font_size_h4 font_size_p_sm">Productos más vendidos del día</h3>
        </div>
        <div class="content_between_md content_between_lg content_between_xl content_between_xxl">
            <div class="room display_grid">
                <div class="border_one margin_y_1 display_flex align_center">
                    <img [src]="imagenPrueba" class="width_20" alt="">
                    <p class="margin_x_2 font_size_p font_size_h5_md">Nombre Producto</p>
                    <p class="margin_x_2 font_size_h5_md"><span>0</span>ud</p>
                </div>
                <div class="border_one margin_y_1 display_flex align_center">
                    <img [src]="imagenPrueba" class="width_20" alt="">
                    <p class="margin_x_2 font_size_p font_size_h5_md">Nombre Producto</p>
                    <p class="margin_x_2 font_size_h5_md"><span>0</span>ud</p>
                </div>
            </div>
            <div class="room line display_grid">
                <div class="border_one margin_y_1 display_flex align_center">
                    <img [src]="imagenPrueba" class="width_20" alt="">
                    <p class="margin_x_2 font_size_p font_size_h5_md">Nombre Producto</p>
                    <p class="margin_x_2 font_size_h5_md"><span>0</span>ud</p>
                </div>
                <div class="border_one margin_y_1 display_flex align_center">
                    <img [src]="imagenPrueba" class="width_20" alt="">
                    <p class="margin_x_2 font_size_p font_size_h5_md">Nombre Producto</p>
                    <p class="margin_x_2 font_size_h5_md"><span>0</span>ud</p>
                </div>
            </div>
        </div>
    </div>
</div>
