:root{
    --color-principal: #F2ACB2;
    --color-secundary: #30348C;
    --color-buttom: #7C7FBA;
    --color-black: #000000;
    --color-white: #ffffff;
    --border-radius: 20px;
}

a{
    text-decoration: none;
}